* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.home {
    background: url(assets/bg.jpg);
    width: 100%;
    height: 644px;
    transition: height 0.5s ease;
    position: relative;
    background-position: center center;
    background-size: cover;
}
.box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, black 0.5%, rgba(0, 0, 0, 0.629) 30%);

}
#nav-bar {
    position: relative;
    max-width: 75vw;
    height: 80px;
    margin: auto;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}
.logo {
    width: 150px;
}
#language {
    width: 110px;
    height: 30px;
    margin-right: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
}
  
#language:focus {
    border: 2px solid white;
}
 
#language option {
  color: black;
}
#login {
    width: 80px;
    height: 32px;
    font-size: 15px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: transparent;
    font-weight: bold;
    cursor: pointer;
}
  
#login:hover {
    background-color: rgb(190, 5, 5);
}
.main-content {
    height: 80%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
    /* column-gap: 10px; */
}
  
.main-content h1 {
    font-size: 50px;
    padding: 10px;
}
  
.main-content p {
    font-size: 25px;
    padding: 10px;
}
  
.main-content div {
    padding: 10px;
    /* margin: 10px; */
}
  
.main-content .email {
    width: 400px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.326);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    caret-color: white;
}
  
.main-content .email::placeholder {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.673);
}
  
.main-content .signin {
    width: 200px;
    height: 55px;
    background-color: rgba(255, 0, 0, 0.887);
    font-size: 20px;
    color: white;
    border: transparent;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
  
.main-content .signin:hover {
    background-color: rgb(190, 4, 4);
}
.seperator {
    width: 100%;
    height: 7px;
    background-color: rgb(43, 42, 42);
}



/* section2 */
#section2 {
    background-color: black;
    color: white;
    height: 500px;
    max-width: 80vw;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
}
.part {
    width: 50%;
    height: 40vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.part h1 {
    font-size: 50px;
    padding: 10px;
}
.part p {
    font-size: 23px;
    padding: 10px;
}
.container {
    width: 45%;
    max-width: 600px;
    height: 70vh;
    max-height: 400px;
    /* background-color: blue; */
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /* position: relative; */
}

.container video {
    width: 80%;
    height: auto;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}



/* Section 3 */
#section3 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
}

#section3 .container2 {
    width: 38%;
    height: auto;
    /* background-color: blue; */
    display: flex;
    position: relative;
    overflow: hidden;
    color: white;

}

#section3 .container3 {
    /* background-color: rgb(9, 9, 93); */
    color: white;
    width: 38%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container3 h1 {
    font-size: 55px;
    padding: 10px;
}

.container3 p {
    font-size: 23px;
}

.container2 > img {
    width: 100%;
    height: 100%;
    z-index: 8;
}

.container2 #phone {
    background-color: black;
    width: 52%;
    height: 25%;
    border: 2px solid grey;
    border-radius: 10px;
    position: absolute;
    bottom: 8%;
    left: 23%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    object-fit: contain;
    overflow: hidden;
}

#phone img:first-child {
    margin: 10px 10px 10px 10px;
}

#phone div h1 {
    color: white;
    text-align: center;
    margin-top: 25%;
    /* margin-top: 30px; */
    font-size: 14px;
}

#phone p {
    font-size: 13px;
    color: blue;
}

#phone img:last-child {
    margin: 20px 15px 20px 15px;
}




/* section4 */
#section4 {
    /* max-width: 80vw; */
    height: 500px;
    /* margin: auto; */
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#section4 .container5 {
    width: 38%;
    height: auto;
    position: relative;
    /* background-color: aqua; */
    object-fit: contain;
    overflow: hidden;
}

.container4 {
    width: 38%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    /* background-color: blue; */
}

.container4 h1 {
    font-size: 45px;
}

.container4 p {
    font-size: 25px;
}

.container5 img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    z-index: 11;
}

.container5 video {
    width: 63%;
    height: 54%;
    position: absolute;
    top: 6%;
    left: 18%;

}




/* Section 5 */
#section5 {
    width: 100%;
    height: 550px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container6 {
    width: 40%;
    height: auto;
}

.container7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: auto;
}

.container7 h1 {
    font-size: 50px;
    padding: 10px;
}

.container7 p {
    font-size: 20px;
}

.container6 img {
    width: 100%;
    height: 100%;
}




/* Section 6 */
#section6 {
    max-width: 100%;
    margin: auto;
    height: 700px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    position: relative;
    margin: 40px;
}

#section6 h1 {
    /* padding-top: 40px; */
    font-size: 50px;
    font-weight: bold;
    height: auto;
}

#faq_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
    height: fit-content;
}

.faq_question {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    min-height: auto;
    background-color: rgb(45 45 45);
    padding: 0px 20px;
    font-size: 20px;
    margin-bottom: 1px;
    cursor: pointer;
}

.faq_question:hover {
    background-color: rgba(128, 128, 128, 0.508);
}

.faq_question img {
    width: 40px;
    filter: invert();
}

.faq_answer {
    height: auto;
    font-size: 20px;
    background-color: rgb(45 45 45);
    padding: 20px;
    display: none;
}

.active {
    display: block;
    transform-origin: top;
    animation: slideDown 0.3s ease forwards;
}

.rotate {
    transform: rotate(45deg);
}

@keyframes slideDown {
    0% {
        transform: translateY(-0%) scaleY(0);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}

#membership {
    width: auto;
}

#membership p {
    font-size: 20px;
    padding: 10px;
}

#membership input {
    width: 60%;
    height: 50px;
    font-size: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.326);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    caret-color: white;
}

#membership input::placeholder {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.673);
}

#membership button {
    width: 30%;
    height: 55px;
    background-color: rgba(255, 0, 0, 0.887);
    font-size: 20px;
    color: white;
    border: transparent;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#membership button:hover {
    background-color: rgb(190, 4, 4);
}




/* Section 7 */
#section7 {
    height: 400px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: tomato; */
    color: rgba(255, 255, 255, 0.667);    
}
#contacts {
    /* background-color: red; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
#section7 > div {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.667);
}
#section7 > div a {
    color: rgba(255, 255, 255, 0.667);
}
#section7 .grid {
    /* background-color: rgb(122, 122, 243); */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10%;
    row-gap: 10px;
}
#section7 .grid a {
    background-color: black;
    width: 100%;
    height: 20px;
    font-size:15px;
}

.lang p  {
    margin-top: 10px;
    font-size: 15px;
    
}





/* Responsive Media queries */
@media screen and (max-width: 950px){
    #nav-bar {
        max-width: 90vw;
    }
    .logo {
        width: 130px;
    }
    .main-content h1{
        font-size: 40px;
    }
    .main-content p {
        font-size: 20px;
    }
    .main-content .email {
        width: 300px;
    }
    .main-content .signin {
        width: 150px;
    }



    #section2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: fit-content;
        /* background-color: tomato; */
        justify-content: center;
        align-items: center;
        padding: 20px;
        overflow: hidden;
    }
    .part {
        width: auto;
        /* background-color: navy; */
        text-align: center;
        height: auto;
        margin-bottom: 40px;
        
    }
    .part h1 {
        font-size: 40px;
    }
    .part p {
        font-size: 18px;
    }
    .container {
        width: 80%;
        height: auto;
    }
    .container img {
        position: relative;
        z-index: 11;
    }
    .container video {
        width: 75%;
        height: auto; /* Maintain aspect ratio */
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }



    #section3 {
        /* width: 100vw; */
        height: fit-content;
        display: flex;
        /* background-color: tomato; */
        flex-direction: column-reverse;
        padding: 20px;
    }
    #section3 .container3 {
        /* background-color: aqua; */
        text-align: center;
        width: auto;
        height: auto;
        /* margin-bottom: 40px; */
    }
    #section3 .container3 h1 {
        font-size: 35px;
    }
    #section3 .container3 p {
        font-size: 18px;
    }
    #section3 .container2 {
        width: auto;
        height: auto;
        background-color: blue;
    }
    #section3 .container2 > img {
        width: 100%;
        height: auto;
    }




    #section4 {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: tomato; */
        padding: 20px;

    }
    #section4 .container4 {
        width: auto;
        height: auto;
        /* background-color: blue; */
        text-align: center;
    }
    .container4 h1 {
        font-size: 40px;
    }
    .container4 p {
        font-size: 20px;
    }
    #section4 .container5 {
        width: 80%;
        /* background-color: aqua; */
    }
    .container5 img {
        width: 100%;
        height: 100%;
    }
    .container5 video {
        width: 64%;
        /* height: 50%; */
        left: 18%;
        top: 5%;
    }




    #section5 {
        max-width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        /* background-color: aqua; */
        /* overflow: hidden; */
    }
    #section5 .container6 {
        width: auto;

    }
    #section5 .container7 {
        width: auto;
        text-align: center;
    }
    .container7 h1 {
        font-size: 40px;
    }




    #section6 {
        /* background-color: tomato; */
        max-width: 100%;
        height: fit-content;

    }
    #section6 h1 {
        width: auto;
        height: fit-content;
        text-align: center;
        font-size: 35px;
        font-weight: normal;
    }
    #membership {
        width: auto;
        height: auto;
        text-align: center;
    }
}






@media screen and (max-width: 750px) {
    .container video {
        width: 75%;
        height: auto; /* Maintain aspect ratio */
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}





@media screen and (max-width: 500px){
    .home {
        /* width: 100%; */
        height: auto;
    }
    #nav-bar {
        display: flex;
        height: auto;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
    }
    .main-content {
        text-align: center;
    }

    #section7 {
        margin: 20px;
        height: auto;
    }
    #section7 .grid {
        /* background-color: rgb(122, 122, 243); */
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
        row-gap: 10px;
    }
    #section7 .grid a {
        background-color: black;
        width: 100%;
        height: 20px;
        font-size:15px;
    }
}
















































































